<!DOCTYPE html>
<html>
<head>
  <title>'Bout it, 'Bout it!</title>
</head>
<body>
  <h1>About!</h1>

    <p>Here is where all of the autobioraphical stuff will go...</p>

    <%= link_to 'Home', root_path %>
</body>
</html>